<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <title>Mi App</title>
    </head>
    <body>
        <header>Header comun</header>
        <section layout:fragment="content">
            <!-- Contenido por defecto -->
        </section>
        <footer class="text-primary">Footer comun</footer>
        <script src="/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
